body{
	color:#222629;
	font-family:montserrat;	
	background:white;
	text-align:center;
}

#menu, #main, #footer{
	display:flex;
}
#menu{
	background:#222629;
	font-size:200%;
	font-family:Montserrat;	
	
	
}
#main{
	min-height:600px;
	background:#9b59b6;
	font-size:150%;
}
#header1{
	flex:2;	
	text-align:center;	
}

#header2{
	display:flex;
	flex:10;	
	align-items:center;
	
}
.link,.foot{
	flex:3;
	text-align:center;	
}

img{
	width:300px;
	height:auto;
	
}
a{
	color:white;
	font-family: 'Montserrat', sans-serif;
}